body{
    font-family: comic, times,helvetica;
    font-size: 20px;
    line-height: 1.5;
    text-align:center;

    
}

header{
    background:url(night1.jpg) ;
    color:rgb(255,255,255);
    border-bottom:purple 4px solid;
    min-height: 170px;
    padding-top: 1px;
    
}
header li{
    display: inline;
    margin: 10px;
    font-size: 20px;
    color:red;
    
}
header h1{
    
    margin-top: 5px;
    color: magenta;
    
}
header a{
    text-decoration:none;
    color:magenta;
    text-transform: uppercase;
}
nav{
    float: right;

}
#showcase{
    padding-top: 1px;
    min-height: 600px;
    background:url(4k.jpg) no-repeat -180px -20px;

}
.title{
    color: magenta;
    font-size: 50px;
}

header a:hover{
    
    color: purple;
    font-weight: bold;
}

#drgons{
    margin-top: 10px;
}

.drgon{
    
    float: left;
    width: 50%;
    text-align: center;
}

.drgon h3{
    color: magenta;
}



.highlight{
    color: orange;
    
}


#title h1{
    color: magenta;
    padding-top: 1px;
    min-height: 400px;
   
}

footer{
    padding: 1px;
    background-color:black;
    color: purple;
    margin-top: 10px;
    border-top: line 1px solid;
}
